/*main box*/
.MainBox {
    width: 674px;
    height: 754px;
    margin: 0px;
    padding: 32px 23px 32px 25px;
    border: solid 1px #d2e3ec;
    background-color: var(--white); 
}

/*select deposit method*/
.Select-deposit-method {
    width: 183px;
    height: 22px;
    margin: 0 445px 0px 0;
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.box-div{ 
  max-width: 30.7% !important;
  margin: 0px 8px;
}

.col-md-4{
  max-width:33%;
}

.SelDepositMethodBoxFrame {
  width: 561.8px;
  height: 62.6px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin: 17.4px 66.2px 17px 0;
  padding: 0;
  position:relative;
  overflow:hidden;

}



.list {
  position:absolute;
  width: 562.8px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin: 24px 0px 16px;
  padding: 0;
  /*background-color: blue;*/
}

.scroller {
  text-align:center;
  cursor:pointer;
  display:none;
  padding:7px;
  padding-top:11px;
  margin-top: -65px;
  margin-bottom:0px;
  white-space:no-wrap;
  vertical-align:middle;
  background-color:#fff;
}
  
.scroller-right{
  float:right;
}
  
.scroller-left {
  float:left;
}

.SelDepositMethodBox{
  height: 56px;
  align-self: center;
  flex-grow: 0;
  background-color: var(--white);

  position:relative;
  cursor:grab;
  cursor:-webkit-grab;
}


#SelDepositMethodBox-a{
  width: 110px;
  margin: 0 0px 0 -8px;
}

#SelDepositMethodBox-b{
  width: 108px;
  padding: 0 8px 0px;
}

#SelDepositMethodBox-c{
  width: 113px;
  padding: 0 8px 8px;
}

#SelDepositMethodBox-d{
  width: 115px;
  padding: 0 8px 8px;
}

#SelDepositMethodBox-e{
  width: 83px;
  margin: 0 0 0 0px;
  padding: 0 8px 8px;
}

.Vector {
  width: 24px;
  height: 24px;
}

#Vector1{
  margin: 0 43px 4px;
}

#Vector2{
  flex-grow: 0;
  margin: 0 34px 4px;
}

#Vector3{
  flex-grow: 0;
  margin: 0 36.5px 4px;
}

#Vector4{
  flex-grow: 0;
  margin: 0 37.5px 4px;
}

#Vector5{
  flex-grow: 0;
  margin: 0 21.5px 4px;
}

.YellowBox {
  height: 2px;
  align-self: center;
  flex-grow: 0;
  background-color: #ffcd00;
}

#YellowBox1 {
  width: 110px;
  margin-top: 7px;
}

#YellowBox2 {
  width: 108px;
  margin-top: 6px;
  margin-left:-8px;
  display: none;
}

#YellowBox3 {
  width: 113px;
  margin-top: 6px;
  margin-left:-8px;
  display: none;
}

#YellowBox4 {
  width: 115px;
  margin-top: 6px;
  margin-left:-8px;
  display: none;
}

#YellowBox5 {
  width: 83px;
  margin-top: 6px;
  margin-left:-8px;
  display: none;
}

.Most-Popular {
  width: 94px;
  height: 19px;
  flex-grow: 0;
  margin: 4px 8px 7px;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}

.Bank-Transfer, .Online-Deposit, .Mobile-Deposit, .Cash-Card {
  height: 20px;
  flex-grow: 0;
  margin: 4px 0 0;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}

.Bank-Transfer {
    width: 92px;
}

.Online-Deposit {
    width: 97px;
}

.Mobile-Deposit {
    width: 99px;
}

.Cash-Card {
    width: 67px;
}

/*mainframe*/
.PaymentOptFrame {
  width: 628px;
  height: 572px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  margin: 16px 0px 16px;
  padding: 0;  
}


img.tagsRecommended {
  width: 113px;
  height: 16px;
  flex-grow: 0;
  margin: -18px 43.7px 4px 41.6px;
  object-fit: contain;
  border-radius: 2px;
  background-color: #ffcd00;
}

/*paymentoptbox*/
.PaymentOptBox{
  width: 193px;
  flex-grow: 0;
  border-radius: 10px;
  background-color: #f5f5f5;
}

#POB-a{

}

#POB-b{
  
}

#POB-c{
  
}

#POB-d{
  
}

#POB1{

}

#POB2{
  
}

#POB3{

}

#POB4{
  
}

#POB5{

}

#POB6{
  
}

#POB7{

}

#POB8{
  
}

#POB9{

}

#POB10{
  
}
#PaymentOptBox-a{
  height: 132px;
  margin: 8px 0px 8px;
  padding: 0px 0 0;
}

#PaymentOptBox-b{
  height: 132px;
  margin: 8px 0px 8px;
  padding: 12px 0 0;
}

#PaymentOptBox-c{
  height: 132px;
  margin: 8px 0px 8px;
  padding: 12px 0 0;
}

#PaymentOptBox-d{
  height: 128px;
  margin: 8px 0px 8px;
  padding: 12px 0 0;
}

#PaymentOptBox-e{
  height: 128px;
  margin: 8px 0px 8px;
  padding: 12px 0 0;
}

#PaymentOptBox-f{
  height: 128px;
  margin: 8px 0px 8px;
  padding: 12px 0 0;
}

#PaymentOptBox-g{
  height: 128px;
  margin: 8px 0px 8px;
  padding: 12px 0 0;
}

#PaymentOptBox-h{
  height: 128px;
  margin: 8px 0px 8px;
  padding: 12px 0 0;
}

#PaymentOptBox-i{
  height: 128px;
  margin: 8px 0px 8px;
  padding: 12px 0 0;
}

#PaymentOptBox-j{
  height: 128px;
  margin: 8px 429.6px 0 0px;
  padding: 12px 0 0;
}

/*innerframe1*/
.InnerFrame1-a {
  width: 120px;
  height: 76px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: -8px 36.5px 4px;
  padding: 0;
}

.InnerFrame1-b1, .InnerFrame1-b2, .InnerFrame1-b3{
  width: 116px;
  height: 76px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.InnerFrame1-b1{
  margin: 0 38.5px 7px;
}

.InnerFrame1-b2, .InnerFrame1-b3{
  margin: 0 38.5px 5.5px;
}

.InnerFrame1-c1, .InnerFrame1-c2, .InnerFrame1-c3{
  height: 40px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.InnerFrame1-c1{
  width: 108px;
  margin: 0 42.5px 14px;
}

.InnerFrame1-c2{
  width:120px;
  margin: 0 36.5px 12px;
}

.InnerFrame1-c3{
  width:108px;
  margin: 0 42.5px 12px;
}

.InnerFrame1-d1, .InnerFrame1-d2{
  width: 116px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.InnerFrame1-d1 {
  height:80px; 
  gap: 2px;
  margin: 0 38.5px;
}

.InnerFrame1-d2 {
  height:76px; 
  margin: 0 38.5px 5.5px;
  padding: 0;
}

/*innerframe2*/
.InnerFrame2-a, .InnerFrame2-b{
  height: 16px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  padding: 0;
}

.InnerFrame2-a {
  width: 64px;
}

.InnerFrame2-b {
  width: 84px;
}

/*deposittypebox*/
.DepositTypeBox-a, .DepositTypeBox-b, .DepositTypeBox-c, .DepositTypeBox-d {
  width: 193px;
  height: 16px;
  flex-grow: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.DepositTypeBox-a {
  padding: 1px 61px 1px;
  background-color: #6a9436;
}

.DepositTypeBox-b {
  padding: 1px 59px 1px;
  background-color: #ffcd00;
}

.DepositTypeBox-c {
  padding: 1px 59.5px;
  background-color: #bc1f00;
}

.DepositTypeBox-d {
  padding: 1px 71.5px;
  background-color: #1e619f;
}

/*duration*/
#instantdeposit, #tenminutes{
  height: 16px;
  flex-grow: 0;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

#instantdeposit{
    width: 72px;
}

#tenminutes{
    width: 52px;
}

/*depositmethod*/
#banktransfer, #mobiledeposit, #onlinedeposit, #cashcard{
  flex-grow: 0;
  font-size: 10px;
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}
#banktransfer {
  width: 71px;
  color: var(--white);
}
#mobiledeposit {
  width: 75px;
  color: #000;
}
#onlinedeposit {
  width: 74px;
  color: var(--white);
}
#cashcard {
  width: 50px;
  color: var(--white);
}

/*paymentredtext*/
.paymentredtext {
  width: 166.3px;
  height: 20px;
  align-self: center;
  flex-grow: 0;
  margin: 4px 13.35px 4px;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #bc1f00;
}
.paymentredtext2, .paymentredtext7 {
  height: 13px;
  align-self: center;
  flex-grow: 0;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #bc1f00;
  display: block;
}

.paymentredtext2 {
  width: 158px;
  margin: 0px 24.8335px 8px;
}

.paymentredtext7 {
  width: 152px;
  margin: 0px 24.8335px 5.5px;
}

.paymentredtext4, .paymentredtext5, .paymentredtext6, .paymentredtext9{
  width: 88px;
  height: 13px;
  align-self: center;
  flex-grow: 0;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #bc1f00;
}
.paymentredtext4, .paymentredtext5 {
  margin: 5.5px 52.5px 5.5px;
}
.paymentredtext6, .paymentredtext9{
  margin: 1.5px 52.5px 5.5px;
}

/*depositmethod brands*/
img.paymentsFooter_QuickTransferEN_PaymentMethod_Colo {
    width: 120px;
    height: 24px;
    flex-grow: 0;
    object-fit: contain;
}

img.paymentsFooter_NinePay_PaymentMethod_Colored, img.paymentsFooter_PayTrust88_PaymentMethod_Colored,
img.paymentsFooter_FastPay_PaymentMethod_Colored,img.paymentsFooter_WealthPay_PaymentMethod_Colored,
img.paymentsFooter_GoATM_PaymentMethod_Colored,img.paymentsFooter_OnlinePayCN_PaymentMethod_Colored,
img.paymentsFooter_ExpressPayCN_PaymentMethod_Colored  {
    width: 108px;
    height: 24px;
    flex-grow: 0;
    object-fit: contain;
}

img.paymentsFooter_MOnline_PaymentMethod_Colored {
  width: 90px;
  height: 24px;
  flex-grow: 0;
  object-fit: contain;
}

img.paymentsFooter_QuickPay_PaymentMethod_Colored {
  width: 120px;
  height: 24px;
  flex-grow: 0;
  object-fit: contain;
}

/*deposit limit text*/
.MMCNY,.MMCNY-c1,.MMCNY-c2 {
    width: 116px;
    height: 36px;
    align-self: center;
    flex-grow: 0;
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}
  
.MMCNY .text-style-1,.MMCNY-c1 .text-style-1,.MMCNY-c2 .text-style-1,
.MMCNY .text-style-2,.MMCNY-c1 .text-style-2,.MMCNY-c2 .text-style-2  {
    font-weight: normal;
    line-height: 1.5;
}

.MMCNY-c1 {
  margin: 14px 38.5px 14px;
}

.MMCNY-c2 {
  margin: 12px 38.5px 12px;
}

.NoLimit {
  width: 116px;
  height: 36px;
  flex-grow: 0;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  position: relative;
  color: #000;
}

.NoLimit p{
  left: 50%;
  top:50%;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.print {
	margin: auto;
	max-width: 500px;
}

span.print{
  display: inline-block;
  width: 100px;
}

  @media only screen and (max-width: 575px) {
    /*main box*/
    .MainBox {
      width: 322px;
      height: 881px;
      padding: 32px 10px 32px 10px; /*ujicoba*/
      border: 0px;
      margin:0px 0.334px 0px 0.333px;
      /*background-color: var(--white); */
    }
    
    /*Select deposit method*/
    .Select-deposit-method {
      width: 160px;
      height: 19px;
      font-family: "OpenSans-Bold", sans-serif;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000;
    }

    .box-div{ 
      max-width: 43% !important;
      margin: 0px 10px;
    }

    .col-6{
      max-width:45%;
    }

    .SelDepositMethodBoxFrame {
      width: 263.2px;
      height: 64px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
      margin: 24px 0px 24px 20px;
      padding: 0;
      overflow-x: auto;

    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .SelDepositMethodBoxFrame::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .SelDepositMethodBoxFrame {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    } 

    .list {
      position:absolute;
      width: 562.8px;
      height: 64px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
      margin: 0px 0px 0px -20px;
      padding: 0;
    }

    .scroller {
      text-align:center;
      cursor:pointer;
      display:none;
      padding:7px;
      padding-top:11x;
      margin-top:-70px;
      margin-bottom:0px;
      white-space:no-wrap;
      vertical-align:middle;
    }
      
    .scroller-right{
      float:right;
    }
    
    .scroller-left {
      float:left;
    }

    .SelDepositMethodBox{
      height: 64px;
      align-self: center;
      flex-grow: 0;
      /*background-color: var(--white);*/
    }



    #SelDepositMethodBox-a{
      width: 96px;
      margin: 0px 0px 0px 0px;
    }
    
    #SelDepositMethodBox-b{
      width: 95px;
      margin: 0px 0px 0px 0px;
      padding: 0 8px 10px;
    }
    
    #SelDepositMethodBox-c{
      width: 100px;
      margin: 0 0px 0 0px;
      padding: 0 8px 10px;
    }
    
    #SelDepositMethodBox-d{
      width: 101px;
      margin: 0 0px 0 0px;
      padding: 0 auto auto;
    }
    
    #SelDepositMethodBox-e{
      width: 73px;
      margin: 0px auto auto 0px;
      padding: 0 auto auto;
    }

    .Vector {
      width: 32px;
      height: 32px;
    }
  
    #Vector1{
      margin: 0 30.8px 4px 33.3px;
      padding: 4.7px 4px 4.7px;
    }
  
    #Vector2{
      flex-grow: 0;
      margin: 0 23.5px 4px;
      padding: 4.3px 0.8px 4.5px 0.8px;
    }
  
    #Vector3{
      flex-grow: 0;
      margin: 0 26px 4px;
      padding: 2.2px 2.2px 1.9px 2.1px;
    }
  
    #Vector4, #Vector5{
      flex-grow: 0;
      margin: 0 auto auto;
    }
  


    .YellowBox {
      height: 4px;
      align-self: center;
      flex-grow: 0;
      margin: 8px 0 0;
      background-color: #ffcd00;
    }

    #YellowBox1 {
      width: 96px;
    }
    
    #YellowBox2 {
      width: 95px;
      display: none;
    }
    
    #YellowBox3 {
      width: 100px;
      display: none;
    }
    
    #YellowBox4 {
      width: 101px;
      display: none;
    }
    
    #YellowBox5 {
      width: 73px;
      display: none;
    }

    .Most-Popular {
      width: 80px;
      height: 16px;
      flex-grow: 0;
      margin: 4px 6.8px 8px 9.3px;
      font-family: "OpenSans-Bold", sans-serif;
      font-size: 12px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000;
    }
    
    .Bank-Transfer, .Online-Deposit, .Mobile-Deposit, .Cash-Card{
      width: 79px;
      height: 18px;
      flex-grow: 0;
      margin: 4px 0 0;
      font-family: "OpenSans-Regular", sans-serif;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #000;
    }
    
    .Bank-Transfer {
        width: 79px;
    }
    
    .Online-Deposit {
        width: 84px;
    }
    
    .Mobile-Deposit {
        width: 91px;
    }
    
    .Cash-Card {
        width: 59px;
    }

    /*mainframe*/
    .PaymentOptFrame {
      width: 315px;
      height: 686px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
      margin: 24px 4px 32px 3px;
      padding: 0;
    }

    img.tagsRecommended {
      width: 59.5px;
      height: 12px;
      flex-grow: 0;
      margin: -20px 37.975px 2px;
      padding: 0 4px 1px;
      object-fit: contain;
      border-radius: 2px;
      background-color: #ffcd00;
    }

    /*rectangle326*/
    .PaymentOptBox{
      width: 135.45px;
      flex-grow: 0;
      border-radius: 10px;
      background-color: #f2f2f2;
    }
    
    #PaymentOptBox-a{
      height: 128px;
      margin: 6px 0px 8px 0;
    }
    
    #PaymentOptBox-b{
      height: 128px;
      margin: 6px 0px 8px;
    }
    
    #PaymentOptBox-c,#PaymentOptBox-d,#PaymentOptBox-e,#PaymentOptBox-f,
    #PaymentOptBox-g,#PaymentOptBox-h,#PaymentOptBox-i{
      height: 122px;
      margin: 8px 0px 8px;
      padding: 8px 0 0;
    }
    
    #PaymentOptBox-j{
      height: 122px;
      margin: 8px 429.6px 0 0px;
      padding: 8px 0 0;
    }

    /*frame1444*/
    .InnerFrame1-a {
      width: 122px;
      height: 76px;
      flex-grow: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: -12px auto 4px;
      padding: 0;
    }

    .InnerFrame1-b {
      width: 116px;
      height: 76px;
      flex-grow: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    .InnerFrame1-b1{
      margin: -4px auto 0px;
    }
    
    .InnerFrame1-b2{
      margin: 0 auto 3.5px;
    }
    
    .InnerFrame1-b3{
      margin: 0 auto 4px;
    }

    .InnerFrame1-c1,  .InnerFrame1-c2, .InnerFrame1-c3{
      height: 40px;
      flex-grow: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    .InnerFrame1-c1, .InnerFrame1-c3{
      width: 108px;
      margin: 0 auto 8px;
    }

    .InnerFrame1-c2{
      width:120px;
      margin: 0 auto 8px;
    }

    .InnerFrame1-d1, .InnerFrame1-d2 {
      width: 116px;
      height: 76px;
      flex-grow: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: 0 auto 4px;
      padding: 0;
    }

    .InnerFrame1-d2 {
      width: 116px;
      height: 76px;
      flex-grow: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: 0 auto 0px;
      padding: 0;      
    }

    /*rectangle328*/
    .DepositTypeBox-a, .DepositTypeBox-b, .DepositTypeBox-c, .DepositTypeBox-d {
      width: 135.45px;
      height: 16px;
      flex-grow: 0;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    
    .DepositTypeBox-a {
      padding: 1px 32.225px;
      background-color: #6a9436;
    }
    
    .DepositTypeBox-b {
      padding: 1px 30.225px;
      background-color: #ffcd00;
    }
    
    .DepositTypeBox-c {
      padding: 1px 30.725px;
      background-color: #bc1f00;
    }
    
    .DepositTypeBox-d {
      padding: 1px 42.275px;
      background-color: #1e619f;
    }




    /*paymentredtext*/
    .paymentredtext {
      width: 125.5px;
      height: 18px;
      align-self: center;
      flex-grow: 0;
      margin: 2px auto 4px;
      font-family: "OpenSans-Regular", sans-serif;
      font-size: 7.6px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: center;
      display:inline-block;
      color: #bc1f00;
    }

    .paymentredtext2, .paymentredtext7 {
      width: 125.5px;
      height: 12px;
      align-self: center;
      flex-grow: 0;
      font-family: "OpenSans-Regular", sans-serif;
      font-size: 8px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: center;
      color: #bc1f00;
      display: inline-block;

    }

    .paymentredtext2{
      margin: 6px auto auto;
    }

    .paymentredtext7{
      margin: 0px auto auto;
    }
  
    .paymentredtext4, .paymentredtext5, .paymentredtext6, .paymentredtext9{
      width: 88px;
      align-self: center;
      flex-grow: 0;
      font-family: "OpenSans-Regular", sans-serif;
      font-size: 8px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.6;
      letter-spacing: normal;
      text-align: center;
      color: #bc1f00;
    }

    .paymentredtext4 {
      height: 13px;
      margin: 3.5px auto 5.5px;
    }

    .paymentredtext5, .paymentredtext6, .paymentredtext9{
      height: 12px;
      margin: 4px auto 6px;
    }

    /*depositlimittext*/
    .MMCNY,.MMCNY-c1,.MMCNY-c2 {
      width: 116px;
      height: 36px;
      align-self: center;
      flex-grow: 0;
      font-family: "OpenSans-Bold", sans-serif;
      font-size: 12px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000;
    }
    
    .MMCNY .text-style-1,.MMCNY-c1 .text-style-1,.MMCNY-c2 .text-style-1 {
      font-weight: normal;
      line-height: 1.5;
    }
  
    .MMCNY .text-style-2,.MMCNY-c1 .text-style-2,.MMCNY-c2 .text-style-2 {
      font-weight: normal;
      line-height: 1.5;
    }
  
    .MMCNY-c1 {
      margin: 8px auto 14px;
    }
  
    .MMCNY-c2 {
      margin: 8px auto 14px;
    }

  }
  