body {
}

.frame-container {
    width: 100%;
    height: 800px;
    max-width: 675px;
    max-height: 800px;
    margin: auto;
}

.inside-iframe {
    border: thin solid #b5b5b5;
    background: #ffff;
}

@media only screen and (max-width : 599px) {
    .frame-container {
        width: 100%;
        height: 1800px;
        margin: auto;
    }

    .select-operators-container {
        padding-right: 25px;
        padding-left: 25px;
        margin-right: auto;
        margin-left: auto;
    }

    div#framediv {
        padding: 0 10px;
        margin-top: -10px !important;
        padding-top: 10px;
    }

    .inside-iframe {
        border: none;
        max-width: 340px;
    }
}
